body {
    padding: 0;
    margin: 10rem;
    max-height: 90vh;
    background-color: wheat;
    display: flex;
    justify-content: space-around;
}

.grill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.operation {
    display: flex;
    justify-content: center;
    align-content: center;
}

.operation > button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid white;
    outline: none;
    background-color: #008BA0;
    border-radius: 50%;
}


.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .display {
    color: black;
    width: 4rem;
    font-size: 1.85rem;
    text-align: right;
}

.count {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 50%;
    margin: 1rem;
    width: 1rem;
    height: 1rem;
}

.operation > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.credits {
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-style: italic;
    font-weight: 500;
}